*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: black;
}

.text{
    color: black;
}

.wrapper{
    width: 30rem;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 2rem;
    padding: 1rem 3rem;
    box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.wrapper h1{
    font-size: 2.25rem;
    text-align: center;
    padding: 1.25rem;
}

.wrapper .inputBox{
    position: relative;
    width: 100%;
    height: 3.12rem;
    margin: 0 0;
    margin-bottom: 1.875rem;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0.125rem solid rgb(255, 255, 255, 0.2);
    border-radius: .3125rem;
    font-size: 1rem;
    color: black;
    padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
    border-color: black;
    
}

.inputBox input::placeholder{
    color: black;
}

.inputBox .icon{
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    background-color: black;
    border-radius: 50%;
    padding: .2rem;
}


.remember-forgot label{
    display: flex;

}

.remember-forgot label input{
    accent-color: black;
    text-decoration: none;
    margin-right: 0.4rem;
}


.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper button{
    width: 100%;
    height: 2.8125rem;
    background: rgba(255, 255, 255, 0.5 );
    border: none;
    outline: none;
    border-radius: .3125rem;
    box-shadow: 0 0 0.625rem rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    border-color: black;
}

.OAuth{
    display: flex;
    color: black    ;
    justify-content: center;
    margin-bottom: 2rem;
}

.OAuth button{
    width: 75%;
}

.google{
    align-items: center;
    display: flex;
    justify-content: center;
}

.googleIcon{
    margin-right: 0.625rem;
}

.wrapper .registerLink{
    font-size: 0.90625rem;
    text-align: center;
    margin: 1.25rem 0 0.9375rem;
}

.registerLink p a {
    font-size: 0.90625rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p{
    color: black;
}

.registerLink p a:hover{
    text-decoration: underline;
}

h1{
    color: black;
}

.star{
    color: red;
}

@media only screen and (max-width: 45rem){
    .wrapper{
        width: 20rem;
        padding: 1.73rem 1.73rem;
    }
    .wrapper h1{
        font-size: 1.4rem;
        padding: 0.722rem;
    }
    .wrapper button{
        font-size: 0.rem;
    }
    .inputBox input{
        font-size: 0.9rem;
    }
    .Or{
        font-size: 0.8rem;
    }
    .wrapper .registerLink{
        font-size: 0.7rem;
        margin-top: 0.722rem;
        margin-bottom: 0;
    }

    .registerLink p a{
        font-size: 0.7rem;
    }

    #error {
        font-size: 0.8rem;
        margin-bottom: 0.6rem;
    }
}

.error{
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.text{
    display: flex;
    justify-content: left;
}
