.maincontainer {
  padding-top: 7rem;
  padding-bottom: 0rem;
  display: flex;
  margin: 0rem 5rem 0rem 5rem;
  justify-content: space-between;
}

.card {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  width: 20%;
  padding-bottom: 3rem;
  height: fit-content;
  background-color: #11060d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 1rem 5rem 0.01rem #000000;
}
.card_desc {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: #11060d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 75%;
  /* height: 25rem; */
  margin-top: 0%;
  box-shadow: 1rem 1rem 5rem 0.01rem #000000;
}
#firstrow {
  margin-top: 5%;
}
.cardBody {
  text-align: center;
  padding-top: 25%;
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  justify-content: center;
  align-items: center;
}
.cardBody_desc {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  width: 9.375rem;
  margin-bottom: 5%;
}
.details_f {
  text-align: center;
  padding: 2%;
  color: #6c757d;
  overflow: hidden;
}
.details,
.head {
  margin-bottom: 0.25rem;
  color: #c6dab7;
  width: 100%;
  /* padding-top: 5%; */
  font-size: large;
  text-align: right;
}
.details {
  background-color: #11060d;
  outline: none;
  border: none;
  text-align: right;
}

.edittableDetails {
  margin-bottom: 0.25rem;
  color: #ffffff;
  width: 100%;
  /* padding-top: 5%; */
  font-size: large;
  text-align: center;
  background-color: #101010;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

._btn {
  background-color: transparent;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  padding-top: 0.9rem;
  width: 100%;
  /* height: 5rem; */

  min-height: 5rem;
  color: black;
  justify-content: space-between;
}
#Conpass {
  font-size: x-large;
  color: #6c757d;
}
.Confpass {
  border: none;
  outline: none;
  color: #6c757d;
  cursor: pointer;
}
._btn {
  color: rgb(26, 86, 141);
  text-decoration: underline;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  cursor: pointer;
}
.col_sm_3,
.col_sm_9 {
  /* flex: 0 0 25%; */
  /* max-width: 25%; */
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: black;
  text-align: left;
}
.col_sm_9 {
  padding-right: 5%;
  text-align: right;
}
.col_sm_3 {
  padding-left: 5%;
}
.col_plan {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 5%;
  padding-left: 0.5rem;
  text-align: right;
  color: black;
  display: flex;
  flex-direction: column;
}
.edit {
  color: blanchedalmond;
  border: none;
  outline: none;
}
.edit_button {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: end;

  /* margin-right: 5%; */
  /* float: right; */
  /* padding: 1rem 5rem 0 0; */
}
#modal_button {
  justify-content: center;
  padding-bottom: 5%;
}
#modal_button button {
  margin-right: 0;
  display: block;
  position: absolute;
  margin-top: 2rem;
  background-color: rgba(255, 9, 9, 0.925);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  font-size: large;
}
.edit_button button {
  /* color:white; */
  /* background-color:red; */
  /* width: 10rem;
  height: 3rem; */
  /* border-color: #000000; */
  margin-right: 5rem;
  display: block;
  /* position: absolute; */
  /* margin-top: 2rem; */
  background-color: #FFFE3E;
  color:#3b172f;
  /* color: white; */
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  z-index: 2;
  font-size: 1.1rem;
}
.edit_button button:hover {
  background-color:#cccc00;
}
.editbtn {
  background-color: #101010;
  color: aliceblue;
  margin-left: 90%;
}
.favorites {
  padding-left: 3rem;
  color: white;
}
.favorites h1 {
  color: white;
}
.favorites_card {
  display: flex;
  margin-left: -0.8rem;
  overflow-y: auto;
  overflow-x: scroll;
  padding: 1rem 0rem 1rem 0rem;
  margin: 0 0px 0px 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  align-items: center;
  scroll-behavior: smooth;
  /* justify-content: space-between; */
}
#homeIcon {
  color:#FFFE3E;
  font-size: 3rem;
  position: absolute;
  top: 5%;
  left: 3%;
  cursor: pointer;
}
#topRow {
  padding-top: 5%;
  padding-bottom: 3%;
}
#changePasswordcol {
  text-align: right;
}

.nothingToShow {
  /* margin: 0.5rem 0 0.8rem 2rem; */
  color: #6c757d;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .maincontainer {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card_desc {
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .maincontainer {
    margin: 0rem 1rem 0rem 1rem;
  }
  .col_sm_3,
  .head {
    width: 100%;
    text-align: left;
  }
  .details {
    text-align: left;
  }
  .col_sm_9,
  .col_plan {
    padding-left: 5%;
    text-align: left;
  }
  ._btn {
    width: max-content;
  }
  #changePasswordcol {
    text-align: left;
    padding-left: 0%;
  }
  .editbtn {
    margin-left: 0;
  }
  .modal {
    width: 40%;
  }
}
@media screen and (max-width: 400px) {
  .edit_button {
    justify-content: space-around;
  }
  .edit_button > button {
    margin-right: 0;
  }

  .favorites {
    padding-left: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: #101010;
  padding: 0px;
  border-radius: 8px;
}
.changepass {
  padding: 5%;
}
.close {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  font-size: 300%;
}

.currpass {
  padding: 5% 10% 5% 10%;
  width: 80%;
  height: 3rem;
  font-size: larger;
  color: #6c757d;
  text-align: left;
  background-color: #101010;
  border: none;
  outline: none;
}
.edit_button_modal {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.edit_button_modal button {
  display: block;
  position: absolute;
  background-color: rgba(255, 9, 9, 0.925);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 20;
  font-size: large;
}
.edit_button_modal button:hover {
  background-color: #e42b2b;
  transition: 0.2s;
}
.dp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #e4dabe;
  background-color: #4f633d;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 1rem;
}
.LeftbtnContainer {
  position: absolute;
  left: 0.5rem;
  z-index: 30;
  transform: rotate(-90deg);
}
.RightbtnContainer {
  /* display: flex; */
  position: absolute;
  right: 0.5rem;
  z-index: 30;
  transform: rotate(90deg);
}

.LeftbtnContainer,
.RightbtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.LeftbtnContainer:hover {
  transform: scale(1.2) rotate(-90deg) translateY(5px);
}
.RightbtnContainer:hover {
  transform: scale(1.2) rotate(90deg) translateY(5px);
}

.LeftbtnContainer button,
.RightbtnContainer button {
  /* background-color: rgba(130, 118, 118, 0.445); */
  background-color: transparent;
  height: 2.3rem;
  width: 2.3rem;
  z-index: 3;
  border-radius: 50%;
  border: none;
  transition: all 0.3 ease;
}

.LeftbtnContainer button:hover,
.RightbtnContainer button:hover {
  background-color: rgba(130, 118, 118, 0.599);
}
