/* @import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Slackside+One&display=swap'); */

/* :root {
  --primary-font-color: #ffffff;
  --secondary-font-color: #c2b8b8;
  --tertiary-font-color: #cf0a0a;
  --primary-bg-color: #161515;
} */

.commentContainer {
  color: white;
  padding: 1rem;
}

.commentContainer .heading {
  font-size: 1.5rem;
  margin: 0 1rem 1rem 0;
}

.commentTextBox{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textBtnCont {
  position: relative;
  width: 100%;
  margin-left:0.3rem;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 5rem;
  height: fit-content;
  max-height: 20rem;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  background-color: #2a1825;
}

.commentContainer .textBtnCont:target {
  box-shadow: 0 0 0.2rem 0.2rem red;
}

.commentContainer .imgTextBtnContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  /* width: 100%; */
}

.btnGroup {
  display: flex;
  position: relative;
  height: fit-content;
  background-color: var(--primary-bg-color);
}

.discardBtn {
  /*background-color: #ff5733;*/ /* Background color for discard button */
  /*color: white; /* Text color for discard button */
  /*border: none;*/
  background-color: #fffe3e; /* Dark background color */
  color: rgb(31, 12, 25);
  /* border: .3px solid #ffffffb6; */
  padding: 0.2rem 0.3rem; /* Padding */
  margin: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease; /* Smooth transitions */
}
.commentContainer .userImg {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* border: 2px solid white; */
  margin: 0.5rem;
}

.commentContainer .typeComment {
  border: none;
  /* width: 80rem ; */
}


.commentContainer .submitBtn {
  background-color: #fffe3e; /* Dark background color */
  color: rgb(31, 12, 25);
  /* border: .3px solid #ffffffb6; */
  padding: 0.2rem 0.3rem; /* Padding */
  margin: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease; /* Smooth transitions */
}

.commentContainer .submitBtn:hover {
  background-color: #cccc00; /* Darken background on hover */
  /* border-color: #555; Darken border on hover */
}

.commentContainer .submitBtnContainer {
  display: flex;
  height: 2rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: var(--primary-bg-color);
  /* margin-right: 0.2rem; */
}

textarea {
  width: 100%;
  padding: 0.5rem;
  color: white;
  overflow: visible;
  background-color: var(--primary-bg-color);
  height: 100%;
  overflow: scroll;
  resize:none;
}
textarea:focus {
  white-space: pre-wrap;
  width: 100%;
  color: white;
  overflow: scroll;
  resize: none;
  outline: none;
}

.allCommentsContainer {
  margin: 1rem 0 1rem 0;
  padding: 10px;
  margin-left: 1rem;
}

.allCommentsContainer:hover {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.158); /* Scale up on hover */
}

.allCommentsContainer .commentInfo {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allCommentsContainer .imgContainer {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50px;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.showMoreBtnContainer {
  text-align: center;
}
.showMoreBtn {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-color: rgba(202, 196, 196, 0.203);
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}
.userName {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.369);
  width: 100%;
}

.commentContent {
  padding: 0rem 1rem;
}

@media screen and (max-width: 600px) {
  .imgTextBtnContainer {
    width: 100%;
  }
  /* .commentContent{
        font-size: .8rem;
        padding-left: .5rem;
    }
    .commentContainer .submitBtn{
        font-size: .8rem;
    }
    .allCommentsContainer{
        padding: 0;

        margin-left: .2rem;
    } */
}