/* .commentSectionContainer *{
    box-sizing: border-box;
} */

.commentSectionContainer{
    /* background-color: rgb(65, 68, 67); */
    color: white;
    padding: 1rem;
}


.commentSectionContainer .heading{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.commentSectionContainer .yourCommentContainer form{
    display: flex;
    align-items: center;
    width: 90%;
    background-color: transparent;
}

.inputContainer{
    width: 100%;
}


.yourCommentContainer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.204);
}

.submitBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* width: 10%; */
    /* margin-left: 2rem; */
}

.submitBtnContainer button{
    /* padding: .2rem; */
    padding: .2rem;
}

.commentSectionContainer textarea{
    height: 2rem;
    /* width: 20rem; */
    width: 80%;
    padding: 1rem;
    /* align-items: start; */
    border: none;
    background-color: transparent;
}

textarea:focus{
    all: unset;
    height: 2rem;
    /* width: 20rem; */
    width: 80%;
    padding: 1rem;
    /* align-items: start; */
    border: none;
    background-color: transparent;
}



