@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-font-color: #ffffff;
  --secondary-font-color: #c2b8b8;
  --tertiary-font-color: #cf0a0a;
}

/* Font */
.font {
  /* font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
  background-color: rgb(31, 12, 25);
}

/* hero small screen */

/* animations */

.loaderIcon {
  height: 5vh;
  aspect-ratio: 1/1;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes skeletonLoader {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.genreButtons {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-underline-offset: 4px;
}

.heroSmall {
  height: 50vh;
  /* background-image: url("https://source.unsplash.com/random"); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: relative;
  color: var(--primary-font-color);
  /* display: flex; */
  justify-content: center;
  display: none;
  text-align: center;
  /* background: linear-gradient(to top, rgba(0,0,0,.8), transparent); */
}

.heroSmall::before {
  content: "";
  position: absolute;
  /* top: 0; */
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.heroSmall .title {
  position: absolute;
  bottom: 0rem;
  font-size: 1.5rem;
  padding: 0rem 1rem;
}

.skeleton__header {
  width: 300%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  animation: skeletonLoader 2s ease-in-out infinite alternate;
}

.skeleton__header:last-child {
  margin-bottom: 0;
  width: 280%;
  min-width: 2em;
}

.skeleton__description {
  width: 480%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  animation: skeletonLoader 2s ease-in-out infinite alternate;
  /* min-width:90em; */
}

.skeleton__description:last-child {
  margin-bottom: 0;
  width: 400%;
  /* min-width:60em; */
}

.skeleton__small {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  animation: skeletonLoader 2s ease-in-out infinite alternate;
  min-width: 3em;
  /* min-width:90em; */
}

.skeleton__small:last-child {
  margin-bottom: 0;
  width: 80%;
  min-width: 2em;
  /* min-width:60em; */
}

.skeleton_button {
  animation: skeletonLoader 2s ease-in-out infinite alternate;
}

.skeleton__plot {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  background-color: white;
  animation: skeletonLoader 2s ease-in-out infinite alternate;
}

.skeleton__plot:last-child {
  margin-bottom: 0;
  width: 80%;
}

/* hero */
.heroContainer {
  /* display: none; */
  height: 100vh;
  /* background-image: var(--image); */
  /* background-color: black; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: relative;
  color: var(--primary-font-color);
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 75%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

.heroContainer .content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroContainer .title {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  border-left: 0.2rem solid var(--tertiary-font-color);
  animation: slideRight 1s ease forwards;
}

.heroContainer .info {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: center; */
  color: var(--secondary-font-color);
}

.shadowBox {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

/* 
  .shadowBox::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    filter: blur(1rem);
    transform: rotate(-30deg);
  }
  
  .shadowBox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgb(209, 203, 203) 50%, transparent);
    mix-blend-mode: overlay;
  }
   */

/* .heroContainer .button{
    z-index: 2;
} */

.premium {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  animation: slideRight 1s ease forwards;
  align-items: center;
  background-image: linear-gradient(to right, rgb(152, 115, 20), transparent);
  width: fit-content;
  padding: 0.2rem;
  color: rgb(202, 202, 205);
}

.info span {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.heroContainer .stamps {
  gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary-font-color);
}

.heroContainer .imdb {
  background-color: rgb(207, 207, 26);
  color: black;
  font-weight: 900;
  padding: 0.25rem 0.25rem;
  border-radius: 0.3rem;
}

.heroContainer .imdbContainer {
  display: flex;
  gap: 0.4rem;
  /* font-size: 1.2rem; */
}

.imdbRating {
  font-size: 1.2rem;
}

.heroContainer .stamps span {
  background-color: rgba(78, 75, 75, 0.818);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.heroContainer .genreList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.heroContainer .description {
  min-width: 55%;
  max-width: 65%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  animation: slideLeft 1s ease forwards;
}

.button span {
  display: flex;
}

.modalbutton {
  display: block;
  position: relative;
  background-color: #fffe3e;
  color: rgb(31, 12, 25);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: large;
}

.modalbutton:hover {
  cursor: pointer;
  background-color: #cccc00;
}

.watchlisticon {
  height: 2.5rem;
  cursor: pointer;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.readMore {
  background-color: transparent;
  border: none;
  color: rgb(54, 6, 174);
  font-size: 1rem;
  margin-left: 0.3rem;
}

/* Modal Overlay */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 200;
}

/* Modal Container */
.modal {
  /* background-color: rgb(10, 10, 10); */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
}

/* Video Container */
.video_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  aspect-ratio: 4/3;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.Mbutton span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Close Button */
.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2.5rem; /* Adjust width as needed */
  height: 2.55rem; /* Adjust height as needed */
  background-image: url("../../assets/close-47.svg"); /* Path to your SVG file */
  background-size: contain; /* Ensure the SVG fits inside the button */
  background-repeat: no-repeat; /* Prevent repetition */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.7s;
}

@media screen and (min-width: 1024px) {
  .close_button:hover {
    width: 7rem;
    height: 7rem;
  }
}

.icon {
  margin: 0 0.3rem 0 0.5rem;
}
.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 945px) {
  .video_container {
    width: 100%;
    aspect-ratio: 4/3;
  }
}

@media screen and (max-width: 840px) {
  .heroContainer .description {
    min-width: 70%;
    font-size: 1.1rem;
  }
  .skeleton__header {
    width: 60%;
  }
  .skeleton__header:last-child {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .font {
    margin-top: 4rem;
  }
  .skeleton__header {
    width: 70%;
  }
  .skeleton__header:last-child {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .heroContainer .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .skeleton__header {
    justify-self: center;
    align-self: center;
  }

  .heroContainer::before {
    z-index: -1;
  }

  .heroSmall {
    display: flex;
    /* font-size: 1.2rem; */
  }

  .heroContainer {
    background-color: black;
    background-image: none;
    /* height: 80vh; */
    height: auto;
    padding: 0.5rem;
  }

  .heroContainer::before {
    background: none;
  }

  .heroContainer .title {
    display: none;
  }

  .heroContainer .description {
    width: 100%;
    max-width: 27rem;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .heroContainer .content {
    position: static;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .imdb {
    font-size: 0.8rem;
  }

  .imdbRating {
    font-size: 1rem;
  }

  .heroContainer .genreList {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .genreButtons {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
  }
}

/* movie-info */

.movieInfo {
  background-color: rgb(31, 12, 25);
  position: relative;
  width: 100%;
  min-height: fit-content;
  display: flex;
  padding: 2rem 0 9rem 0;
}

.fullplot {
  margin-left: 2rem;
  width: 50%;
  height: 100%;
}

.heading {
  color: #fffe3e;
  font-weight: bold;
  margin: 1rem auto 0rem 2rem;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.container {
  position: absolute;
  right: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem;
}

.popupIcon {
  height: 1rem;
  width: 1rem;
}

.cell {
  gap: 1rem;
}

.subHeading {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.content {
  color: #c2b8b8;
  font-weight: bold;
  font-size: 1.25rem;
}

.showMoreInfoBtn {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-color: rgba(202, 196, 196, 0.203);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.showMoreInfoBtnCont {
  text-align: center;
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
    gap: 0.8rem;
  }

  .heading {
    font-size: 1.3rem;
  }
  .movieInfo {
    flex-direction: column;
    padding-right: 1rem;
  }
  .fullplot {
    width: 100%;
    margin-bottom: 1rem;
  }
  .container {
    position: relative;
    right: auto;
    width: 100%;
    margin-left: 1rem;
  }
  /* .cast .content{
        flex-direction: row;
    } */
  /* .movieInfo .cell{
        max-width:none;
    } */
}
