.app{
    background-image: url('/tree-736885_640.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 10;
  }
  
  /* Modal Container */
  .modal {
    /* background-color: rgb(10, 10, 10); */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Video Container */
  .video-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
    aspect-ratio: 16/9;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Close Button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  