
/* Watchlist Modal Styles */
.watchlist_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 76, 76, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.watchlist_modal {
  background-color: rgb(8, 26, 39);
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
  max-width: 31.25rem;
  width: 90%;
  z-index: 301;
  position: relative;
}

.watchlist_modal_content {
  padding: 1.25rem;
}

.watchlist_modal_heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.watchlist_modal_section {
  border-bottom: 2rem;
  border-color: black;
  margin-bottom: 1.25rem;
}

.watchlist_error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.watchlist_create {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.watchlist_divider {
  height: 0;
  width: 100%;
  border: 1px solid #93e1d8;
  margin-bottom: 2rem;
}

.watchlist_modal_section_heading {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.watchlist_modal_input {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #c0180c;
  background-color: rgb(50, 1, 1);
  color: white;
  border-radius: 0.25rem;
}

.watchlist_modal_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
}
.watchlist_modal_buttons::-webkit-scrollbar {
  display: none;
}

.watchlist_modal_button {
  background-color: #f24236;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.625rem 1.25rem;
  margin: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watchlist_modal_button:hover {
  background-color: #c0180c;
}

.watchlist_close_button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  color: #999;
}

.watchlist_close_button:hover {
  color: #333;
}

.watchlist_dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.watchlist_dropdown option {
  padding: 4px;
}
.watchlist_checkbox_label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.watchlist_checkbox_label input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox_wrapper {
  --size: 1rem;
  font-size: var(--size);
}

.checkbox_wrapper *,
.checkbox_wrapper *::after,
.checkbox_wrapper *::before {
  box-sizing: border-box;
}

.checkbox_wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox_wrapper .checkbox__label {
  width: var(--size);
}

.checkbox_wrapper .checkbox__label:before {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
}

.checkbox_wrapper .checkbox__label:after {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * 0.14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
}

.checkbox_wrapper .checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox_wrapper .checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: calc(var(--size) * 0.5);
  border-color: green;
}

.checkbox_wrapper .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox_wrapper .checkbox__label:after:hover,
.checkbox_wrapper .checkbox__label:after:active {
  border-color: green;
}

.checkbox_wrapper .checkbox__label {
  margin-right: calc(var(--size) * 0.45);
}
