/* Watchlist Modal Styles */
.watchlist_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 76, 76, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.watchlist_modal {
  background-color: rgb(31, 12, 25);
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
  max-width: 31.25rem;
  width: 90%;
  z-index: 301;
  padding-bottom: 1rem;
  position: relative;
}

.watchlist_modal_content {
  padding: 1.25rem;
}

.watchlist_modal_heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.watchlist_modal_section {
  border-bottom: 2rem;
  border-color: black;
  /* margin-bottom: 1.25rem; */
}

.watchlist_error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.watchlist_create {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.watchlist_create input {
  color: white;
  font-weight: bold;
}

.watchlist_create input::placeholder {
  color: white;
  font-weight: bold;
}

.watchlist_divider {
  height: 0;
  width: 100%;
  border: 1px solid #93e1d8;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.watchlist_modal_section_heading {
  font-size: 1.125rem;
  font-weight: bold;
}

.watchlist_modal_input {
  width: 100%;
  padding: 0.625rem;
  border: none;
  background-color: #3b172f;
  color: white;
  border-radius: 0.25rem;
}

.watchlist_create input::placeholder {
  color: white;
}

.watchlist_modal_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
}
.watchlist_modal_buttons::-webkit-scrollbar {
  display: none;
}

.watchlist_modal_button {
  background-color: #fffe3e;
  color: #1d0b17;
  font-weight: bold;
  border: none;
  width: 5rem;
  border-radius: 0.25rem;
  padding: 0.625rem 1.25rem;
  margin: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watchlist_modal_button:hover {
  background-color: #cccc00;
}

.watchlist_close_button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  color: #999;
}

.watchlist_close_button:hover {
  color: #333;
}

.watchlist_dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.watchlist_dropdown option {
  padding: 4px;
}
.watchlist_checkbox_label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.watchlist_checkbox_label input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox_wrapper {
  --size: 1rem;
  font-size: var(--size);
}

.checkbox_wrapper *,
.checkbox_wrapper *::after,
.checkbox_wrapper *::before {
  box-sizing: border-box;
}

.checkbox_wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox__label {
  width: var(--size);
}

.checkbox__content {
  display: flex;
  overflow: hidden;
}

.checkbox__label:before {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
}

.checkbox__label:after {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * 0.14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
}

.checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: calc(var(--size) * 0.5);
  border-color: green;
}

.checkbox__input:checked {
  border: 2px solid red;
}

.checkbox input {
  border: 2px solid red;
}

.checkbox {
  position: relative;
  display: flex;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.checkbox__label:after:hover,
.checkbox__label:after:active {
  border-color: green;
}

.checkbox__label {
  margin-right: calc(var(--size) * 0.45);
}

.dropdowncontainer {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  /* justify-content: space-around; */
  /* margin-top: 1rem; */
}

.results_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.dropdownbutton {
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
  justify-content: space-between;
  background-color: #3b172f;
  border: 0.0625rem solid #33373d;
  border-radius: 0.25rem;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}

.dropdownbutton:hover {
  border-color: #33373d; /* Example accent color */
}

.dropdownbutton::after {
  content: "\25BC";
  font-size: 0.8em;
  margin-left: 0.3rem;
  transition: transform 0.2s ease-in-out;
}

.dropdownlist {
  position: absolute;
  color: #fff;
  width: 80%;
  top: 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 15rem;
  padding: 0;
  margin-top: 0;
  overflow-y: auto;
  background-color: #3b172f; /* A dark gray background */
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
  border: 0.0625rem solid #33373d;
  border-top: none;
  border-radius: 0.25rem;
}

.dropdownlist::-webkit-scrollbar {
  display: none;
}

.dropdownlist li {
  height: 3rem;
  display: flex;
  cursor: pointer;
  list-style: none;
  padding: 0.625rem 0.9375rem;
}

.dropdownlist li:hover {
  background-color: #f0f0f0;
  color: #383838;
}

.dropdownlist label {
  display: block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
}

.dropdownlist input[type="checkbox"] {
  margin-right: 0.625rem;
}

.dropdownbutton:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem 33373d;
}
