.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.2rem;
  box-sizing: border-box;
}

.heading {
  font-size: 1.2rem;
  text-align: center;
}

.subheading {
  max-width: 25rem;
  font-size: 0.8rem;
  color: rgb(199, 198, 198);
  text-align: center;
}
.fourOfour {
  font-size: 6rem;
  color: rgb(100, 100, 100);
  font-weight: 900;
}
.homeNotFound {
  margin-top: 1rem;
  background-color: rgb(209, 32, 32);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.homeNotFound {
  display: block;
  margin-top: 2rem;
  background-color: rgba(255, 9, 9, 0.925);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 20;
  font-size: large;
}

@media screen and (max-width: 500px) {
  .fourOfour {
    font-size: 4rem;
  }
  .heading {
    font-size: 1rem;
  }
}
