.login{
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 40rem;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 2rem;
    padding: 3rem 3rem;
    box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.wrapper h1{
    font-size: 2.25rem;
    text-align: center;
    padding: 1.25rem;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 3.12rem;
    margin: 1.875rem 0;
}

.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0.125rem solid rgb(255, 255, 255, 0.2);
    border-radius: .3125rem;
    font-size: 1rem;
    color: black;
    padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
    border-color: black;
}

.input_box input::placeholder{
    color: black;
}

.input_box .icon{
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}


.remember-forgot label{
    display: flex;

}

.remember-forgot label input{
    accent-color: black;
    text-decoration: none;
    margin-right: 0.4rem;
}


.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper button{
    width: 100%;
    height: 2.8125rem;
    background: rgba(255, 255, 255, 0.5 );
    border: none;
    outline: none;
    border-radius: .3125rem;
    box-shadow: 0 0 0.625rem rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    border-color: black;
}


.wrapper .register_link{
    font-size: 0.90625rem;
    text-align: center;
    margin: 1.25rem 0 0.9375rem;
}

.register_link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register_link p a:hover{
    text-decoration: underline;
}

.OAuth{
    display: flex;
    accent-color: white;
    justify-content: center;
}

.OAuth button{
    width: 75%;
}

.Or{
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: center;
}

.google{
    align-items: center;
    display: flex;
    justify-content: center;
}

.google-icon{
    margin-right: 0.625rem;
}

@media only screen and (max-width: 45rem){
    .wrapper{
        width: 20rem;
        padding: 1.73rem 1.73rem;
    }
    .wrapper h1{
        font-size: 1.4rem;
        padding: 0.722rem;
    }
    .wrapper button{
        font-size: 0.rem;
    }
    .input-box input{
        font-size: 0.9rem;
    }
    .Or{
        font-size: 0.8rem;
    }
    .wrapper .register-link{
        font-size: 0.7rem;
        margin-top: 0.722rem;
        margin-bottom: 0;
    }
    #error {
        font-size: 0.8rem;
        margin-bottom: 0.6rem;
    }
}

#error{
    font-size: 1rem;
    margin-bottom: 1rem;
}