.skeleton__cards {
  animation: skeletonLoader 2s ease-in-out infinite alternate;
}

@keyframes skeletonLoader {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.cards {
  position: relative;
  min-width: 10rem;
  height: 15rem;
  max-height: 20%;
  opacity: 1;
  margin: 2rem 0.6rem 2rem 0.6rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform-origin: var(--val);
}
.cards:hover {
  z-index: 10;
  transform: scale(1.4, 1.32);
  transform-origin: var(--val);
}

.cards__overlay {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: opacity 0.3s ease;
  opacity: 0;
  min-height: 30%;
}

.card__title {
  font-size: small;
  font-weight: bold;
  margin: 0.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.card__runtime {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
  justify-content: space-between;
  align-items: center;
  font-size: x-small;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.card__rating {
  display: flex;
  align-items: center;
}
.card__rating svg {
  margin-right: 0.3rem;
}
.card__description {
  font-size: 0.7rem;
  display: none;
  text-wrap: wrap;
  transition: opacity 0.3s ease;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0.9rem;
  font-size: xx-small;
}

.cards:hover .cards__overlay {
  opacity: 1;
}

.cards:hover .card__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
  opacity: 1;
}

.cards_img {
  width: 10rem;
  height: 15rem;
  max-height: 100%;
  border-radius: 0;
  transition: 0.4s ease-in-out;
}
.icons {
  display: block;
}
.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  left: 5%;
  z-index: 3;
  width: 18%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  border-radius: 5rem;
}
.premium {
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 3;
  float: right;
  color: gold;
}
#heartIcon {
  box-shadow: 200px;
}
.numberIcons {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 3;
  color: red;
}
.Genrediv {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(59, 147, 247, 0.853), rgb(9, 51, 189));
  opacity: 0.77;
}
.contain {
  display: flex;
}
.number {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: xxx-large;
}

.number__gradient {
  background: linear-gradient(0deg, #ffffff, #7d7d7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
  .cards {
    /* min-width: 10rem; */
    flex-basis: 15%;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    flex-basis: 20%;
    margin: 0.2rem 0.6rem 1rem 0.6rem;
    min-width: 8rem;
    height: 12rem;
  }
  .cards:hover {
    transform: none;
  }
  .card__description {
    display: none;
  }
  .cards_img {
    width: 8rem;
    height: 12rem;
  }
  .first__card {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 250px) {
  .cards {
    flex-basis: 100%;
  }
}
