.watchlist_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
}
.background_grad {
  background: linear-gradient(180deg, #672853, #1f0c19);
  height: 80vh;
  width: 100%;
  position: relative;
}

.movie_grid {
  position: absolute;
  padding-left: 1rem;
  width: 100%;
  min-height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 10;
  top: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(10, 10, 10, 0.2);
}

.watchlist_titlecontainer {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  z-index: 10;
}

.watchlist_titlecontainer h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.watchlist_details {
  display: flex;
  flex-direction: column;
}

.watchlist_icon {
  height: 15rem;
  width: 15rem;
  box-shadow: 2rem;
}

.back_button_container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.back_button {
  background-color: #fffe3e;
  color: #1f0c19;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.delete_button_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}
.delete_button_container img {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.delete_button {
  background-color: #fffe3e;
  color: rgb(31, 12, 25);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.delete_button:hover {
  background-color: #cccc00;
}

.back_button:hover {
  background-color: #cccc00;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 2rem 4rem 2rem;
}

.cardcontainer {
  display: flex;
  position: relative;
}

.deleteimage {
  position: absolute;
  top: 1.1rem;
  right: -0.3rem;
  cursor: pointer;
}

.deleteimage:hover {
  transform: scale(1.3);
}

.LeftbtnContainer {
  position: absolute;
  left: 0.5rem;
  z-index: 30;
  transform: rotate(-90deg);
}
.RightbtnContainer {
  /* display: flex; */
  position: absolute;
  right: 0.5rem;
  z-index: 30;
  transform: rotate(90deg);
}

.LeftbtnContainer,
.RightbtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.LeftbtnContainer:hover {
  transform: scale(1.2) rotate(-90deg) translateY(5px);
}
.RightbtnContainer:hover {
  transform: scale(1.2) rotate(90deg) translateY(5px);
}

.LeftbtnContainer button,
.RightbtnContainer button {
  /* background-color: rgba(130, 118, 118, 0.445); */
  background-color: transparent;
  height: 2.3rem;
  width: 2.3rem;
  z-index: 3;
  border-radius: 50%;
  border: none;
  transition: all 0.3 ease;
}

.LeftbtnContainer button:hover,
.RightbtnContainer button:hover {
  background-color: rgba(130, 118, 118, 0.599);
}

.mainSliders{
  /* width: fit-content; */
  width: 100%;
}