.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.pricing__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 15rem;
    padding: 2rem;
    margin: 0 2rem 0 2rem;
    border: 2px solid #ff0000;
    border-radius: 1rem;
    /* color: black; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: black;
    /* transition: all 0.3s ease; */
}

.button{
    bottom: 5%;
    width: 100%;
    margin-top: 2rem;
    background-color: rgba(255, 9, 9, 0.925);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    font-size: large;
}