.slider{
    /* overflow-x: scroll; */
    
}

.slider__movies{
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    margin: 0 -20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100vw;
    /* position: relative; */
    align-items: center;
    scroll-behavior: smooth;
}

.container{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.LeftbtnContainer{
    position: absolute;
    left: .5rem;
    z-index: 3;
    transform: rotate(-90deg);
    
}
.RightbtnContainer{
    position: absolute;
    right: .5rem;
    z-index: 3;
    transform: rotate(90deg);
}

.LeftbtnContainer, .RightbtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.LeftbtnContainer:hover{
    transform: scale(1.2) rotate(-90deg) translateY(5px);
}
.RightbtnContainer:hover{
    transform: scale(1.2) rotate(90deg) translateY(5px);
}

.LeftbtnContainer button, .RightbtnContainer button{
    background-color: rgba(130, 118, 118, 0.445);
    height: 2.3rem;
    width: 2.3rem;
    z-index: 3;
    border-radius: 50%;
    border: none;
    transition: all .3 ease;
}

.LeftbtnContainer button:hover, .RightbtnContainer button:hover{
    background-color: rgba(130, 118, 118, 0.599);
}


.slider__movies::-webkit-scrollbar{
    display: none;
}



@media screen and (max-width:600px){
    .LeftbtnContainer, .RightbtnContainer{
        display: none;
    }
    .slider__movies{
        padding: 1rem 0rem;
    }
}

