.mobileMenu{
    position:absolute;
    z-index: 100;
    top:10%;
    color:black;
    left:2%;
    width: 100%;
    max-width: 30%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background: blueviolet;
    color: white;
    /* background-color: #fff; */
    /* max-width: 400px; */
}

.mobileMenu__links{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    top: 10%;
    /* gap: 1rem; */
}

.mobileMenu__link{
    margin: 1rem 0;
    color: white;
    text-decoration: none;
    transition: 0.3s;

}

.mobileMenu__link:hover{
    color: #f1356d;
}

/* .mobileMenu__close{
    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color:black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
} */

