@keyframes growRight {
  0% {
    transform: translateY(-100%);
  }
  /* 80% {
        transform: translateX(2%);
    } */
  100% {
    transform: translateY(0%);
  }
}

.mobileMenu {
  /* display: none; */
  position: fixed;
  z-index: 1000;
  top: 12%;
  color: black;
  left: 2%;
  width: 100%;
  max-width: 60%;
  /* height: fit-content; */
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  height: 60vh;
  /* background-color: #fff; */
  /* max-width: 400px; */
  transition-timing-function: ease-in;
  transition: 0.5s;
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
}
.mobileMenu::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
}

.mobileMenu__links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  top: 10%;
  padding: 0.7rem 0;
  /* gap: 1rem; */
}

.mobileMenu__link {
  /* margin: 1rem 0; */
  color: white;
  text-decoration: none;
  /* border-bottom: 0.1rem solid rgb(86, 85, 85); */
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  /* margin:auto; */
  /* margin-bottom: 0.5rem; */
}

.mobileMenu__link:hover {
  color: red;
}

.mobileMenu__dropdown {
  /* position:fixed ; */
  /* touch-action: none;
    overflow: scroll; */
  /* overflow: hidden; */
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(10px);
  border-radius: 0.7rem;
  margin-left: 5%;
  /* padding: 1rem 0.2rem; */
  font-size: 0.9rem;
  animation: growRight 500ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdown {
  border: none;
}

.mobileMenu__dropdown_column {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* margin-left:15%;
    margin-right: 15%; */
  align-items: center;
  padding-bottom: 0.2rem;
  gap: 0.1rem;
}
/* 
.mobileMenu__dropdown_right{
    display: flex;
    flex-direction: column;
    margin-right:15%;
} */

@media screen and (max-width: 1100px) {
  .mobileMenu {
    display: block;
    max-width: 65%;
  }
}

.mobileMenu {
  animation: growRight 500ms ease-in-out forwards;
  transform-origin: top center;
}

@media screen and (max-width: 630px) {
  .mobileMenu {
    /* display: none; */
    max-width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .mobileMenu {
    /* display: none; */
    max-width: 90%;
  }
  .mobileMenu__links {
    width: 100%;
  }
}

/* .mobileMenu__close{
    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color:black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
} */

@media (max-width: 630px) {
  .mobileMenu__dropdown {
    flex-direction: column;
    /* padding-top: 0rem;
        padding-bottom: 0rem; */
  }
  .mobileMenu__dropdown_column {
    padding-bottom: 0.067rem;
  }
}
