.mobileMenu{
    display: none;
    position:absolute;
    z-index: 100;
    top:10%;
    color:black;
    left:2%;
    width: 100%;
    max-width: 40%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background:rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    color: white;
    /* background-color: #fff; */
    /* max-width: 400px; */
}

.mobileMenu__links{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    top: 10%;
    padding: 0.7rem 0;
    /* gap: 1rem; */
}

.mobileMenu__link{
    margin: 1rem 0;
    color: white;
    text-decoration: none;
    transition: 0.3s;

}

.mobileMenu__link:hover{
    color:red;
}

@media screen and (max-width: 1100px){
    .mobileMenu{
        display: block;
    }    
}

/* .mobileMenu__close{
    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color:black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
} */

