@keyframes growTop {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.Desktop__navbar {
  display: flex;
  flex-direction: column;
}

.mobile__navbar {
  display: none;
}

.navbar__mobile {
  position: relative;
}

.DesktopMenu {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  /* display:none; */
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  padding: 0% 0;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  /* font-family: "arial"; */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hamburger {
  margin-left: 15%;
  margin-right: -10%;
  color: white;
  display: none;
  width: 30px;
  cursor: pointer;
}

.navbar__desktopLinks {
  /* display:flex; */
  align-items: center;
  margin-right: 15%;
  position: relative;
  cursor: pointer;
}

.navBlack {
  background-color: #1f0c19;
}

.navbar__logo {
  height: 2.5rem;
  object-fit: contain;
  /* margin:2%; */
  margin-left: 10%;
  cursor: pointer;
}

.navbar__left {
  display: flex;
  /* width:60%; */
  align-items: center;
}

.navbar__right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  gap: 25%;
}

.desktop_login {
  cursor: pointer;
  font-size: 1.1rem;
}

.mobile_login {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  margin-top: 0.5%;
  height: auto;
  top: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 30%;
  border-radius: 0.7rem;
  padding: 0.5rem 0.8rem;
  transform-origin: top;
  animation: growTop 0.2s ease-in;
}

.dropdown__column {
  display: flex;

  flex-direction: column;
  /* justify-content:space-around; */
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* border-right: 0.5px solid white; */
  /* padding-right: 10%; */
  border-color: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.dropdown__column:last-child {
  border-right: none;
  padding-right: 0%;
}

a {
  text-decoration: none;
  color: white;
  font-size: smaller;
}

.navbar__link_dropdown {
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  margin-left: 5%;
}

.navbar__link {
  margin: 0 1vw;
  text-wrap: nowrap;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar__link:hover {
  color: rgba(255, 255, 255, 0.638);
  text-shadow: 1%;
}

@media screen and (max-width: 1300px) {
  .navbar__link {
    margin: 0 1vw;
    font-size: smaller;
  }
}

@media screen and (max-width: 1100px) {
  .navbar__link {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 5%;
  }
  .navbar__logo {
    margin-left: 5%;
  }
  .navbar__right {
    margin-right: 8%;
  }
}

@media screen and (max-width: 680px) {
  .navbar__right {
    gap: 20%;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    /* z-index:0; */
    background-color: blank;
  }
  .searchIcon {
    color: white;
    cursor: pointer;
  }
  .desktop_login {
    display: none;
  }
  .Desktop__navbar {
    display: none;
  }
  .mobile__navbar {
    display: flex;
    flex-direction: column;
  }
}

.avatar {
  border-radius: 50%;
  width: 3.5rem;
  margin-bottom: 5%;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dp {
  position: absolute;
  top: 50%;
  right: -8%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #ffffff;
  background-color: #276157;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dpName{
  font-size: 2rem;
}
@media screen and (max-height: 510px) {
  .navbar {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 359px) {
  .navbar__logo {
    width: 60%;
  }
}

@media screen and (min-width: 2500px) {
  .navbar {
    padding-top: 1rem;
  }
  .dropdown {
    width: 15%;
  }
  .navbar__link_dropdown {
    font-size: 1.5rem;
  }
}
/*
@media screen and (max-height:388px){
    .navbar{
        height:0%;
    }
    .navbar__logo{
        height:0rem;
    }
} */

