.navbar{
    position:fixed;
    top:0;
    z-index:100;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:10%;
    padding:0% 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.hamburger{
    margin-left:15%;
    margin-right:-10%;
    color:white;
    display:none;
    width:30px;
}

.navBlack{
    background-color:black;
}

.navbar__logo{
    height:5vh;
    object-fit:contain;
    /* margin:2%; */
    margin-left:10%;
}

.navbar__left{
    display:flex;
    /* width:60%; */
    align-items: center;
}

.navbar__right{
    display:flex;
    align-items: center;
    margin-right:5%;
}

.navbar__links{
    display:flex;
    margin-left:5%;
}

.navbar__link{
    margin:0 10%;
    text-wrap:nowrap;
    color:white;
    text-decoration:none;
}

.navbar__link:hover{
    color:rgba(255, 255, 255, 0.638);
    text-shadow:1%;
}

@media screen and (max-width: 1300px){
    .navbar__link{
        margin:0 5%;
        font-size:smaller;
    }
}

@media screen and (max-width:1100px){
    .navbar__link{
        display:none;
    }
    .hamburger{
        display:block;
        margin-right:5%;
    }
    .navbar{
        width:80%;
    }
    .navbar__logo{
        margin-left:5%;
    }
    .navbar__right{
        margin-right:2%;
    }
}