.searchResults {
    position:absolute;
    /* background-color: black; */
    width:100%;
    /* min-width: 18rem; */
    margin:2%;
    top:80%;
    /* border:1px solid rgb(171, 171, 171); */
    height:fit-content;
    background-color:rgba(0, 0, 0, 0.701);
    opacity:0.9;
    padding-right:2.4rem;
    margin-top:8%;
    border-radius: 0.7rem;
    backdrop-filter: blur(5%);

}

.searchResult{
    width:90%;
    /* background-color:black; */
    padding-right:2.4rem;
    /* min-width: 100%; */
    display:flex;
    align-items:center;
    border-bottom:1px solid whitesmoke;
    /* border-radius:10px; */
    opacity:0.8;
    margin-left:5%;
}

.searchResult img{
    width: 4rem;
    height:3rem;
    margin: 0.5rem;
    margin-left:5%;
    /* object-fit:cover; */
    margin-top:4%;
    margin-bottom:4%;
    opacity:1;
}

.searchResult__details{
    color:white;
    margin-left:10%;
    margin-top:4%;
    margin-bottom:4%;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.searchResults{
    animation:growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}

@media screen and (max-width:600px){
    .searchResults{
        width:88%;
        min-width: none;
    }

    .searchResult{
        height:fit-content;
    }
}