.slider__movies{
    box-sizing: border-box;
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    /* padding: 20px 20px; */
    padding: 1rem 3rem 1rem 2rem;
    margin: 0 -20px 0px 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100vw;
    /* position: relative; */
    align-items: center;
    scroll-behavior: smooth;
}

.container{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.LeftbtnContainer{
    position: absolute;
    left: .5rem;
    z-index: 30;
    transform: rotate(-90deg);
    
}
.RightbtnContainer{
    /* display: flex; */
    position: absolute;
    right: .5rem;
    z-index: 30;
    transform: rotate(90deg);
}

.LeftbtnContainer, .RightbtnContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.LeftbtnContainer:hover{
    transform: scale(1.2) rotate(-90deg) translateY(5px);
}
.RightbtnContainer:hover{
    transform: scale(1.2) rotate(90deg) translateY(5px);
}

.LeftbtnContainer button, .RightbtnContainer button{
    /* background-color: rgba(130, 118, 118, 0.445); */
    background-color: transparent;
    height: 2.3rem;
    width: 2.3rem;
    z-index: 3;
    border-radius: 50%;
    border: none;
    transition: all .3 ease;
}

.LeftbtnContainer button:hover, .RightbtnContainer button:hover{
    background-color: rgba(130, 118, 118, 0.599);
}

.slider{
    padding-right: 2rem;
}
.slider__movies::-webkit-scrollbar{
    display: none;
}

.slider__title{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
.sliders{
    margin-right: 3rem;
}
