.wrapper {
  margin: 0;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1rem;
  align-items: start;
  background-color: #3b172f;
  width: 100%;
  position: relative;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 4em;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}
.footer__addr img {
  max-width: 30%;
}

.footer__addr h2 {
  /* margin-top: 1.3em; */
  font-size: 1rem;
  font-weight: 400;
  /* margin-bottom: 0.5rem; */
}

.nav__title {
  font-weight: bold;
  font-size: 1rem;
  color: #fffe3e;
}

.footer address {
  font-style: normal;
  color: #999;
  font-size: 0.9rem;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(176, 174, 174, 0.07);
  border-radius: 0.7rem;
  color: #fffdfd;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer div {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  cursor: pointer;
}

.footer a:hover {
  color: #fffe3e;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
  font-size: 0.9rem;
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  justify-content: center;
  font-size: 0.9rem;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  /* .nav__item--extra {
    flex-grow: 2;
  } */

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__addr {
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer__addr img {
    min-width: 8rem;
  }
  .footer__btn {
    margin: 1rem auto 0 auto;
  }
  .footer__nav {
    text-align: center;
  }
  .legal {
    margin-top: 1.5rem;
  }
  .footer__nav {
    flex-wrap: nowrap;
  }
}
