.comment-cards {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); 
  padding: 15px; /* Add padding */
  border-radius: 8px; 
  margin-bottom: 20px;
  /* margin-top: 100px  */
} 

.comment-card:hover {
  transform: scale(1.05); /* Apply scale transformation on hover */
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-details {
  flex: 1;
}

.card-title {
  margin: 0;
  font-size: 18px;
}

.card-comment {
  margin: 5px 0;
}

.card-movie {
  color: blue;
  text-decoration: none;
}

.comment-card{
  display: inline-block; /* Change to inline-block to ensure gaps */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9); 
  padding: 15px; /* Add padding */
  border-radius: 8px; /* Add border radius */
  margin-right: 20px; /* Add right margin to create space between cards */
  margin-bottom: 20px;
  height:200px;
  margin-left: 20px;
  width: 150px; /* Set equal width for each card */
}

.comment-cards:not(:last-child) {
  margin-top: px; /* Adjust spacing between cards */
}
/* Default styles */
.comment-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.comment-card {
  width: calc(33.33% - 20px); /* Set initial width, considering margin */
  margin: 10px; /* Add margin between cards */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .comment-card {
    width: calc(50% - 20px); /* Set width for smaller screens, considering margin */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .comment-card {
    width: calc(100% - 20px); /* Set full width for even smaller screens, considering margin */
  }
}
