.skeleton__cards {
  opacity: 0.7;
  /* background: transparent !important; */
  background: transparent;
  animation: skeletonLoader 1.5s ease-in-out infinite alternate;
  margin-top: 1.1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  height: 10rem;
  min-width: 15rem;
  width: 15rem;
}

.skeleton__cards:hover {
  transform: scale(1.05);
}

@keyframes skeletonLoader {
  0% {
    background-color: hsl(0, 0%, 30%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

.commentCards {
  display: flex;
  width: 500%;
  margin: 0 -2rem 0 -2rem;
  animation: slide 180s linear infinite;
}

.commentCard {
  flex: 0 0 auto;
  scroll-snap-align: start;
  align-items: center;
  padding: 0.9375rem;
  border-radius: 0.5rem;
  background-color: #2a1825;
  margin: 1.1rem 1.25rem 1.25rem 1.25rem;
  min-height: 10rem;
  min-width: 14rem;
  height: 12rem;
  width: 16rem;
}

/* Smaller Phones */
@media (max-width: 480px) {
  .commentCard {
    padding: 0.75rem;
    height: 10rem;
    min-width: 14rem;
  }

  .commentCards {
    width: 2000%;
  }

  .skeleton__cards {
    height: auto;
    padding: 0.75rem;
  }

  .commentDetails {
    font-size: 0.8rem;
  }

  .cardMovie {
    font-size: 0.4rem;
  }
}

@media (max-width: 768px) {
  .commentCards {
    width: 1000%;
  }

  .commentCard {
    height: 12rem;
    min-width: 16rem;
  }
}

.commentCards::-webkit-scrollbar {
  display: none;
}

.profilePic {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.username {
  margin: 0;
  margin-top: 1rex;
  margin-left: 1rex;
  font-size: 1.125rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardTime {
  font-size: 12px;
  margin-left: 1rex;
}

.sliderwrapper {
  position: relative;
  overflow-x: clip;
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}

.commentCards::-webkit-scrollbar {
  display: none;
}

.commentCard:hover {
  transform: scale(1.2);
}

.title {
  display: flex;
  height: 25%;
}

.commentDetails {
  margin-top: 2rex;
  flex: 1;
  height: 75%;
  overflow: hidden;
  width: 100%;
  position: relative;
  align-items: center;
}

.cardComment {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardMovie {
  color: #fffe3e;
  position: absolute;
  text-decoration: underline;
  transition: color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  height: 20%;
  bottom: 8%;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-underline-offset: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cardMovie:hover {
  color: rgb(255, 87, 34);
}

.commentCards:not(:last-child) {
  margin-top: 0;
}
