.heading {
  font-size: 60px;
  font-weight: 500;
  margin-top: 2%;
  color: #ffffff;
  text-shadow: #1f0c19;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 1); */
}
.movieList {
  display: flex;
  width: 100%;
  margin-top: 2.25rem; /* To prevent the card touching top margin on hover */
  justify-content: center;
  padding-bottom: 5%;
}
/* Modal Overlay */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #1f0c1967;
  backdrop-filter: blur(10px);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modal Container */
.modal {
  overflow-y: scroll;
  background-color: #1f0c19;
  border-radius: 8px;
  position: relative;
  width: 85%;
  top: 6%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* Close Button */
.close_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.modalbutton {
  color: var(--tertiary-font-color);
  font-size: 1.5rem;
  height: 2.5rem;
  padding: 0.5rem 0.7rem;
  border: none;
  background-color: rgba(78, 75, 75, 0.633);
  transition: all 0.3s ease;
}

.modalbutton:hover {
  cursor: pointer;
  background-color: rgb(78, 75, 75);
  transform: translateY(-8px);
}
.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2.5rem; /* Adjust width as needed */
  height: 2.55rem; /* Adjust height as needed */
  background-image: url("../../assets/close-47.svg"); /* Path to your SVG file */
  background-size: contain; /* Ensure the SVG fits inside the button */
  background-repeat: no-repeat; /* Prevent repetition */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.7s;
}

@media screen and (min-width: 1024px) {
  .close_button:hover {
    width: 7rem;
    height: 7rem;
  }
}
